.divHeaderMatrimonio{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
}

.imgMatrimonio{
    width: 15vw;
}

.h1Matromonio{
    font-family: 'Times New Roman', Times, serif !important;
}

.citaMatrimonio{
    color:#1B4060;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-style:oblique;
}

.formularioH6{
    padding-left: 2rem;
}

form{
    border: solid 3px #BD8F35;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
}

.dataDiv{
    padding: 10px;
}

.submitButton{
    color:#1B4060 !important;
    font-weight: 700 !important;
}